@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "heebo";
  src: url("../../public/fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --foreground-rgb: 255, 250, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --grey-light: #F6F7FB;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 246, 247, 251;
    --background-end-rgb: 246, 247, 251;
  }
}

* {
  box-sizing: border-box;
  font-family: "heebo", sans-serif;

}

body {
  font-family: "heebo", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input {
  color: #000000;
  background-color: var(--grey-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, auto));
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;

}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: 1rem;
}

button {
  color: #ffffff;
  padding: 2rem;
  width: 100%;
}